---
layout: layout.html
aloita: Aloita
aloita-anchor: aloita
page-top-anchor: aloita
katso-heading: Katso
katso-anchor: katso
toimi-heading: Toimi
toimi-anchor: toimi
get-in-touch-anchor: ota-yhteytta
get-in-touch-heading: Ota yhteyttä
read-more: Read More
newsletter: Newsletter
email: Email
phone: Phone
sign-me-up: Sign me up
get-started-heading: Get started
page-title: Tervetuloa ikäihmisten palvelulinjalle!

intro:
  <h1>Ter&shy;ve&shy;tu&shy;loa ikä&shy;ih&shy;mis&shy;ten pal&shy;ve&shy;lu&shy;lin&shy;jal&shy;le!</h1>
  <p>Tältä sivulta löydät perehdytysanimaation, siihen liittyvät kysymykset ja palautelomakkeen. Niiden tarkoituksena on perehdyttää sinut palvelulinjamme arvoihin sekä palvelulupaukseen. Halusimme koota ne tänne yhteen helposti katsottavaksi ja tehtäväksi.</p>
  <p>Aloitetaan katsomalla video, jonka jälkeen pyydämme sinua vastaamaan siihen liittyviin kysymyksiin.</p>

toimi-questionnaire-text:
  <h2>No niin, se kävi nopeasti!</h2>
  <p>Vastaa seuraavaksi alla oleviin kysymyksiin.</p>

toimi-feedback-text:
  <h2>Hienoa!</h2>
  <p>Vastaa lopuksi palautekysymyksiin alla ja olet valmis!</p>

cot-title: Ikäihmisten palvelut
cot-email: sirkku.miettinen@tampere.fi

memocate-title: Yhteistyökumppani
memocate-email: heikki@memocate.com
---
