$background-color: #FCFCFC;
$dark-gray: #383838;
$body-font-color: #0a2645;
$nav-height: 80px;
$footer-height: 80px;
$grid-container-padding: 0;
$memocate-color: #ffb135;
$gray: #c4c4c4;
$light-gray: #f0f0f0;

$contact-width-large: 22vw; // ~33% of content area
$contact-height-large: 27vw;
$contact-width-medium: 25vw;
$contact-height-medium: 31vw;
$contact-gutter: 3.74vw; // ~ (17 columns / 21 columns ) - (0.22 * 3 contacts) / (2 paddings * 2 sides)

$contact-width-small: 88vw;
$contact-height-small: 103vw;

$grid-columns: 21;
$topbar-padding: 0;
$topbar-background: $background-color;
$body-background: $background-color;

@import 'foundation';
@include foundation-xy-grid-classes($padding-grid: false);
@include foundation-global-styles;
@include foundation-top-bar;
@include foundation-menu;
@include foundation-visibility-classes;

@mixin min-full-height {
  min-height: calc(100vh - #{ $nav-height });
}

$small-padding: 12px;
@mixin small-padding {
  @include breakpoint(small down) {
    padding: $small-padding;
  }
}
@mixin small-negative-margin {
  @include breakpoint(small down) {
    margin: -$small-padding !important;
  }
}

@mixin button {
  border: solid 2px $dark-gray;
  text-transform: uppercase;
  color: $dark-gray;
  border-radius: 49px;
  padding: 0.8em 2em;
}

.logo {
  width: 185px;
}

a {
  text-decoration: none;
}

body {
  font-family: Lato;
  font-weight: 400;
  scroll-behavior: smooth;
  @include small-padding;
}

.intro {
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  @include breakpoint(large) {
    font-size: 20px;
  }
  strong {
    font-weight: 700;
  }
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 80px;
  @include breakpoint(medium only) {
    padding-top: 40px;
  }

  @include breakpoint(small down) {
    padding-top: 0;
  }
  @include breakpoint(medium down) {
    & br {
      display: none;
    }
  }
  z-index: 10;
  @include min-full-height;
}

h1, h2 {
  font-family: 'Merriweather', serif;
  font-weight: 900;
}

h1 {
  @include breakpoint(large) {
    font-size: 31px;
  }
  line-height: 1;
  margin: 0;
}

.ball {
  $r: 15px;
  border: solid 1px $gray;
  border-radius: $r;
  width: $r;
  height: $r;
  display: inline-block;
  &-active {
    background-color: $gray;
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    align-items: right;
  }
  &-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.home_m {
  @include breakpoint(medium up) {
    position: absolute;
    height: 100vh;
  }
  @include breakpoint(small down) {
    position: relative;
    top: -70px;
    height: 212px;
  }
  z-index: 0;
  width: 100%;
  & img {
    position: absolute;
  }
  overflow-y: hidden;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
}

.page {
  position: relative;
  min-height: 100vh;
}

.begin-section {
  padding-top: 80px;
  @include min-full-height;
}


.in-touch {
  width: $contact-width-small;
  @include breakpoint(medium) {
    width: $contact-width-large;
    border-right: solid 1px $light-gray;
  }
  box-sizing: content-box;
  padding-left: $contact-gutter;
  padding-right: $contact-gutter;
  &:last-child {
    border-right: none;
    padding-right: 0;
  }
  @include breakpoint(medium) {
    &:first-child {
      padding-left: 0;
    }
  }

  &-row {
    @include breakpoint(medium) {
      display: flex;
      justify-content: space-between;
    }
  }
  &-input,
  &-button {
    box-sizing: border-box;
  }
  &-input {
    width: 100%;
    border: none;
    border-bottom: 2px solid $dark-gray;
    padding: 10px;
    transition: box-shadow 0.3s, border 0.3s;
    background-color: $background-color;
    &:focus {
      border: solid 1px #707070;
      box-shadow: 0 0 5px 1px #969696;
    }
  }
  &-button {
    @include button;
    width: 100%;
    margin-top: 21px;
  }
}

.home_social {
  @include small-padding;
  position: absolute;
  bottom: 1vh;
  @include breakpoint(medium) {
    bottom: 7vh;
  }
  left: 0;
  z-index: 11;
  width: 100%;
  color: rgba(100, 100, 100, 0.8);
  & a {
    color:  #646464;
    margin-left: 15px;
    margin-right: 15px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.language-selection {
  text-align: right;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  @include breakpoint(medium) {
    height: $nav-height;
  }
}

.page-content {
  /* padding-top: $nav-height; */
}

.aloita {
  height: calc(100vh - $nav-height);
}

.top-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: $nav-height;
  &, & ul {
    background-color: transparent;
  }
  $shift-top-bar-links: 1rem;
  &-left {
    @include small-padding;
  }
  &-right {
    &.show-for-medium {
      /* padding: 0; */
    }
  }
  z-index: 9001;
  &-link {
    text-decoration: none;
    color: #143B55;
    text-transform: uppercase;
    font-size: 18px;
    transition: color 1s ease-in-out;
    padding-left: 35px !important;
    &:hover,
    &-active {
      color: #383838
    }
    &-inverted {
      color: $white;
    }
  }
  &-button {
    transition: color 1s ease-in-out, background-color 1s ease-in-out;
    &.top-bar-link-active, &:hover {
      background-color: $memocate-color;
      color: $background-color;
    }
    top: calc(#{ $shift-top-bar-links } - 1px);
    border: solid 1px $memocate-color;
    color: $memocate-color;
    background-color: $background-color;
    border-radius: 49px;
  }
}

.mobile-toggle {
  display: none;
  width: 40px;
  height: 40px;
  display: block;
  fill: #fff;
}

.light-text {
  font-weight: 400;
}

.bottom-active {
  font-weight: 700;
}


.hidden {
  display: none;
}

.katso-link {
  &, &:active, &:hover {
    color: #016ca3;
  }
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
}

.katso {
  & iframe {
    width: 100%;
    height: 100vh;
  }
}

.ota-yhteytta {
  position: relative;
  min-height: 489px;
}

.bottom-image, .bottom-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.bottom-image {
  @include breakpoint(small down) {
    max-width: 100vw !important;
    @include small-negative-margin;
  }
}

.contact-details {
  color: $white;
  z-index: 20;
}

.nurse {
  display: none;
  position: fixed;
  bottom: 0;
  left: 130px;
  width: 25vw;
  &.show {
    @include breakpoint(medium up) {
      display: initial;
    }
  }
  -webkit-animation: slide-in-fwd-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-fwd-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-5-5 19:24:35
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}


.toimi {
  @include breakpoint(medium up) {
    padding-left: 20% !important;
    padding-top: 30px !important;
  }
  &-non-embed {
    @include breakpoint(medium up) {
      padding-left: 20% !important;
    }
    &.heart {
      margin-top: 30px;
    }
  }
}

.contact-details {
  text-align: center;
  padding-bottom: 35px;
  &-logo {
    height: 50px;
    &-memocate {
      position: relative;
      top: -7px;
      @include breakpoint(small down) {
        margin-top: 20px;
      }
    }
  }
  &-title {
    opacity: 0.39;
    color: #fff;
    text-transform: uppercase;
    margin-top: 15px !important;
  }
  & p {
    margin: 0;
  }
  & a {
    &, &:active, &:hover, &:visited {
      color: white;
      font-size: 18px;
    }
  }
}

.bottom-image-file {
  & {
    @include breakpoint(small down) {
      display: none;
    }
  }

  &-mobile {
    @include breakpoint(medium up) {
      display: none;
    }
    width: 100%;
  }
}

.hidden {
  display: none !important;
}

.video-js {
  height: 100vh;
  width: 100%;
}
